.BoxCompleteOrder{
    padding: 20px;
    margin: 15px 0;
    border-radius: 6px;
    background-color: var(--base-card);
}

.DescriptionDeliveryAddress{
    display: flex;
    margin: 20px 0;
}

.TextDeliveryAddress{
    margin-left: 10px;
}

.TextDeliveryAddress h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: var(--base-subtitle);
}

.TextDeliveryAddress p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: var(--base-text);
}

.SelectPaymentMethod{
    display: flex;
}

.ButtonCardPaymentMethod{
    width: 170px;
    height: 51px;
    padding: 10px;
    gap: 12px;
    background: var(--base-button);
    border-radius: 6px;
    display: flex;
    margin-right: 12px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.ButtonCardPaymentMethod p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--base-text);
}

.ButtonCardPaymentMethodSelected{
    width: 170px;
    height: 51px;
    padding: 10px;
    gap: 12px;
    background: var(--base-button);
    border-radius: 6px;
    display: flex;
    margin-right: 12px;

    display: flex;
    align-items: center;

    cursor: pointer;
    border: 1px solid #8047F8;
}

.ButtonCardPaymentMethodSelected p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--base-text);
}