@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --base-white: #ffffff;
  --base-background: #fafafa;
  --base-card: #f3f2f2;
  --base-input: #ededed;
  --base-button: #e6e5e5;
  --base-hover: #d7d5d5;
  --base-label: #8d8686;
  --base-text: #574f4d;
  --base-subtitle: #403937;
  --base-title: #272221;
  --brand-purple-dark: #4b2995;
  --brand-purple: #8047f8;
  --brand-purple-light: #ebe5f9;
  --brand-yellow-dark: #c47f17;
  --brand-yellow: #dbac2c;
  --brand-yellow-light: #f1e9c9;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Para suporte ao Safari */
  font-family: 'Roboto';
}

body {
  background-color: var(--base-background);
}